@charset "UTF-8";
/*!
 * ress.css • v1.2.2
 * MIT License
 * github.com/filipelinhares/ress
 */
html {
  box-sizing: border-box;
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%; }

*, :after, :before {
  background-repeat: no-repeat;
  box-sizing: inherit; }

:after, :before {
  text-decoration: inherit;
  vertical-align: inherit; }

* {
  padding: 0;
  margin: 0; }

audio:not([controls]) {
  display: none;
  height: 0; }

hr {
  overflow: visible; }

article, aside, details, figcaption, figure, footer, header, main, menu, nav, section, summary {
  display: block; }

summary {
  display: list-item; }

small {
  font-size: 80%; }

[hidden], template {
  display: none; }

abbr[title] {
  border-bottom: 1px dotted;
  text-decoration: none; }

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects; }

a:active, a:hover {
  outline-width: 0; }

code, kbd, pre, samp {
  font-family: monospace,monospace; }

b, strong {
  font-weight: bolder; }

dfn {
  font-style: italic; }

mark {
  background-color: #ff0;
  color: #000; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -.25em; }

sup {
  top: -.5em; }

input {
  border-radius: 0; }

[role=button], [type=button], [type=reset], [type=submit], button {
  cursor: pointer; }

[disabled] {
  cursor: default; }

[type=number] {
  width: auto; }

[type=search] {
  -webkit-appearance: textfield; }

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  resize: vertical; }

button, input, optgroup, select, textarea {
  font: inherit; }

optgroup {
  font-weight: 700; }

button {
  overflow: visible; }

[type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner, button::-moz-focus-inner {
  border-style: 0;
  padding: 0; }

[type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner, button:-moz-focusring {
  outline: 1px dotted ButtonText; }

[type=reset], [type=submit], button, html [type=button] {
  -webkit-appearance: button; }

button, select {
  text-transform: none; }

button, input, select, textarea {
  background-color: transparent;
  border-style: none;
  color: inherit; }

select {
  -moz-appearance: none;
  -webkit-appearance: none; }

select::-ms-expand {
  display: none; }

select::-ms-value {
  color: currentColor; }

legend {
  border: 0;
  color: inherit;
  display: table;
  max-width: 100%;
  white-space: normal; }

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit; }

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px; }

img {
  border-style: none; }

progress {
  vertical-align: baseline; }

svg:not(:root) {
  overflow: hidden; }

audio, canvas, progress, video {
  display: inline-block; }

@media screen {
  [hidden~=screen] {
    display: inherit; }
  [hidden~=screen]:not(:active):not(:focus):not(:target) {
    position: absolute !important;
    clip: rect(0 0 0 0) !important; } }

[aria-busy=true] {
  cursor: progress; }

[aria-controls] {
  cursor: pointer; }

[aria-disabled] {
  cursor: default; }

::-moz-selection {
  background-color: #b3d4fc;
  color: #000;
  text-shadow: none; }

::selection {
  background-color: #b3d4fc;
  color: #000;
  text-shadow: none; }

:root {
  --primary: #507DBC;
  --secondary: #DAE3E5;
  --text: #3D3D3D;
  --size: 3.14rem;
  --size-2x: calc(var(--size) * 2);
  --size-3x: calc(var(--size) * 3);
  --font-family: 'Bai Jamjuree';
  --font-size: 3.14rem;
  --font-light: 300;
  --font-bold: 600; }

html {
  font-size: 10px; }

.site {
  font-family: var(--font-family), -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: var(--font-size);
  font-weight: var(--font-light);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: white;
  color: var(--text);
  padding: 0; }

.container {
  flex: 1;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100vh; }
  @media screen and (min-width: 800px) {
    .container {
      max-width: calc(3.14vmax * 24); } }

.n {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 9.6rem;
  display: flex;
  padding-right: 1rem;
  background-color: white;
  z-index: 20; }
  @media screen and (min-width: 800px) {
    .n {
      padding-right: 0; } }
  .n__overlay {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: black;
    opacity: 0;
    z-index: -1;
    transition: opacity 0.3s, z-index 0s 0.3s; }
    .n__overlay.is-active {
      opacity: 0.5;
      z-index: 10;
      transition: opacity 0.3s, z-index 0s 0s; }
      @media screen and (min-width: 800px) {
        .n__overlay.is-active {
          opacity: 0;
          z-index: -1; } }
  .n__logo {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start; }
  .n__toggle {
    cursor: pointer;
    width: 4rem;
    height: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: calc((9.6rem - 4rem) / 2) 0;
    margin-left: auto; }
    @media screen and (min-width: 800px) {
      .n__toggle {
        display: none; } }
    .n__toggle-bar {
      width: 3rem;
      height: 1px;
      background-color: var(--text);
      margin: 0.5rem 0; }
  .n__menu {
    position: fixed;
    right: 0;
    top: 0;
    width: calc(100% - 9.6rem);
    height: calc(100vh - 9.6rem);
    overflow: hidden;
    background-color: white;
    opacity: 0;
    transform: translateX(100%);
    transition: opacity 0.3s, transform 0.3s, z-index 0s 0.3s;
    z-index: -1;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    list-style: none;
    margin: 9.6rem 0 0;
    padding: 1rem; }
    .n__menu.is-active {
      opacity: 1;
      transform: translateX(0);
      z-index: 100;
      transition: opacity 0.1s, transform 0.3s, z-index 0s 0s; }
    @media screen and (min-width: 800px) {
      .n__menu {
        opacity: 1;
        transform: translateX(0);
        position: relative;
        width: 100%;
        height: auto;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        margin: 0; } }
  .n__link {
    display: block;
    text-align: center;
    text-decoration: none;
    color: var(--text);
    padding: 2rem; }
    @media screen and (min-width: 800px) {
      .n__link {
        font-size: 1.6rem;
        padding: 1rem; } }

.m {
  margin-top: 9.6rem;
  padding: 1rem;
  flex: 1;
  position: relative;
  border-top: 0.5rem solid var(--primary);
  font-size: 1.7rem; }

.fade-in, .fade-out {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 1rem;
  transition: opacity 0.5s; }

.fade-in {
  opacity: 1; }
  .fade-in-start {
    opacity: 0; }

.fade-out {
  opacity: 0; }
  .fade-out-start {
    opacity: 1; }

.f {
  font-size: 1.4rem;
  padding: 1rem;
  text-align: right; }

.c p {
  margin: 0 0 1rem; }

