.app-footer {
    grid-column: 1/2;
    grid-row: 5/6;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0.5rem 1.5rem;
}
.app-footer p {
    margin: 0;
    font-size: 1rem;
    line-height: 1;
}

@media (min-width: 920px) {
    .app-footer {
        z-index: 10;
        grid-column: 2/3;
        color: #fff;
        background-color: transparent;
    }
}