body {
    font-family: var(--font-family);
    font-size: var(--font-size);
    font-weight: var(--font-regular);
    height: 100%;
}
.fade-enter-active,
.fade-leave-active {
    transition: opacity 0.5s;
}
.fade-enter, .fade-leave-to {
    opacity: 0;
}