.card {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    opacity: 0;
    transform: translateX(-100%);
    transition: transform 0.5s, opacity 0.5s;
}
.card-img {
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 192px;
    border-bottom: 1px solid var(--color-secondary-light);
}
.card-img svg {
    transform: scale(2);
    fill: #fff;
}
.card-content {
    width: 100%;
    line-height: 1.7;
    max-height: calc(100vh - 192px - 64px);
}
.card-content-flex {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
}
.card-tile {
    float: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 128px;
    padding: 1.5rem;
    background-color: transparent;
    transition: background-color 0.3s;
}
.card-tile:hover, .card-tile:focus, .card-tile.is-active {
    background-color: var(--color-secondary-light);
}
.card-tile svg {
    max-width: 100%;
    max-height: 192px;
}
.card-tile svg path {
    fill: #fff;
}

.card.is-active {
    opacity: 1;
    transform: translateX(0);
    transition: transform 0s, opacity 0.5s;
}

.card-bar {
    float: left;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 1.5rem 1.5rem;
    font-size: 2rem;
    background-color: transparent;
    color: var(--color-secondary);
    transition: all 0.5s, background-color 0.3s, color 0.3s;
}
.skill-item .card-bar.is-active {
    height: 96px;
    width: 100%;
    opacity: 1;
    padding: 1.5rem 1.5rem;
    cursor: default;
}
.skill-item .card-bar {
    height: 0;
    opacity: 0;
    padding: 0 1.5rem;
}
@media (min-width: 992px) {
    .card-bar:not(.full) {
        width: 50%;
    }
}
.card-bar svg {
    width: 64px;
    height: 64px;
    margin-right: 2.5rem;
}
.card-bar svg path {
    fill: var(--color-primary);
    transition: fill 0.3s;
}
.card-bar.h:hover, .card-bar.h:focus {
    color: #fff;
    background-color: var(--color-primary-light);
}
.card-bar.h:hover svg path, .card-bar.h:focus svg path {
    fill: #fff;
}

.route-skills .card {
    display: none;
}

@media (min-width: 920px) {
    .card {
        flex-direction: column;
        align-items: center;
    }
    .card-img {
        display: flex;
    }
    
    .route-skills .card {
        display: flex;
    }
}